* {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.flashes {
  color: grey;
}

.flashes .successful {
  color: green;
}

.flashes .error {
  color: red;
}
